.root {
  position: relative;
}

.overlay {
  display: none;
  height: 330px;
  position: absolute;
  width: 100%;

  &_active {
    display: block;
    z-index: 100;
    background-color: #000;
    opacity: 0.1;
  }
}

.filterForm {
  width: 100%;
  padding: 10px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.filterRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;

  &_hidden {
    display: none;
  }

  &_overlay {
    pointer-events:none;
      opacity: 0.5;
    
  }

  &_simple {
    margin: 0px;
  }
}

.formlabel {
  margin-right: 10px;
  font-size: 14px;
  width: 20%;

  &_error {
    color: #e74c3c;
  }
}

.expert {
  cursor: pointer;
  font-size: 10px
}

.input {
  width: 80%;
  padding: 5px 10px;
  line-height: 1.25;
  border-radius: 3px;
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.select {
  height: 30px;
  width: 80%;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #fff;
}

.checkbox {
  display: none;
}

.checkbox:checked {
  + .label {
    background-color: #eaeaea;
  }
}

.label {
  cursor: pointer;
  padding: 8px 8px 8px 35px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 5px center;
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;

  &_PHOTO {
    background-image: url(assets/images/photo.svg);
  }

  &_VIDEO {
    background-image: url(assets/images/video.svg);
  }

  &_POSITIVE {
    background-image: url(assets/images/positive.svg);
  }

  &_NEGATIVE {
    background-image: url(assets/images/negative.svg);
  }

  &_NEUTRAL {
    background-image: url(assets/images/neutral.svg);
  }

  &_NOT_CREDIBLE {
    background-image: url(assets/images/NOT_CREDIBLE.svg);
  }
  &_CREDIBLE {
    background-image: url(assets/images/CREDIBLE.svg);
  }
}

.actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button {
  cursor: pointer;
  border: 0px solid rgba(0, 0, 0, 0.15);
  background-color: #3498db;
  padding: 8px 16px 8px 16px;
  color: #fff;
  font-weight: bold;
  border-radius: 2px;
  font-size: 13px;
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}
