@import "~styles/mixins";

:global {
  blockquote {
    display: none !important;
  }
}

.root {
  display: flex;
  min-height: 200px;
  width: 100%;
  padding: 10px;
  padding-top: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 3px;

  @include box-shadow;

  @include display-medium {
    width: 48%;
  }

  @include display-large {
    width: 31%;
  }

  &_not_credible {
    border-top: 5px solid;
    border-color: #efa3a3;

  }

  &_credible {
    border-top: 5px solid;
    border-color: #61c171;
  }
}

.meta {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.author {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin-right: 12px;
}

.verified {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 15px;
  background-image: url(assets/images/verified.png);
}

.name {
  display: block;
  font-weight: bold;
  color: #14171a;
  text-decoration: none;
}

.screenName {
  color: #a9a9a9;
  font-size: 13px;
  font-weight: 400;
  display: block;
}

.followStats {
  font-size: 12px;
}

.content {
  padding: 5px;
  width: 100%;
}

.annotations {
  display: flex;
  align-items: center;
  padding: 5px;
  padding-left: 8px;
  padding-bottom: 10px;
  border-bottom: 1px solid #fafafa;
}

.text {
  margin-top: 5px;
  line-height: 20px;
}

.picture {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.options {
  font-size: 12px;
  a {
    text-decoration: none !important;
    color: inherit;
  }
  text-align: center;
}

.tweetType {
  display: block;
  margin-left: 12px;
}

.icon {
  display: block;
  height: 20px;
  width: 20px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 5px;
  
  &_positive {
    background-image: url(assets/images/positive.svg);
  }

  &_negative {
    background-image: url(assets/images/negative.svg);
  }

  &_neutral {
    background-image: url(assets/images/neutral.svg);
  }

  &_not_credible {
    background-image: url(assets/images/NOT_CREDIBLE.svg);
  }
  &_credible {
    background-image: url(assets/images/CREDIBLE.svg);
  }
}
