@import "~styles/base";

$sidebarWidth: 400px;

.root {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sidebar {
  position: fixed;
  width: $sidebarWidth;
}

.content {
  height: 100%;
  width: 100%;
  margin-left: $sidebarWidth;
  background-color: #fafafa;
}

.contentHeader {
  position: fixed;
  width: 100%;
  padding: 10px 15px;
  background-color: #fff;
  border-bottom: 1px solid #f2f2f2;
  z-index: 10;
  min-height: 55px;
  margin-left: 10px;
  transform: translateY(-60px);
  transition: transform 300ms ease-out;
  &_visible {
    transform: translateY(0px);
  }
}

.summary {
  display: inline-flex;
  align-items: center;
  min-height: 32px;
}

.clearListButton {
  border: 0px;
  background-color: inherit;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}

.start {
  padding: 40px 20px;
  height: 100%;
  background-color: #fff;
}

.introduction {
  width: 500px;

  > p {
    margin-top: 5px;
  }
}