@import url("https://fonts.googleapis.com/css?family=PT+Sans:500,400,300");
:global {
  @import "./font-awesome/font-awesome.scss";
  #app {
    height: 100%;
  }
}

* {
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  color: #2f2f2f;
  margin: 0px;
  padding: 0px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
}
