@mixin display-medium {
  @media (min-width: 1040px) {
    @content;
  }
}

@mixin display-large {
  @media (min-width: 1300px) {
    @content;
  }
}

@mixin box-shadow {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}